<div th:fragment="word-root-analysis-table">
	<div class="x_panel">
		<div class="x_title">
			<h2>Analyze Results for: <strong  id="word-to-analyze"></strong></h2>
			<div
				th:replace="fragments/panel-navbar-toolbox :: panel-navbar-toolbox"></div>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<div class="table-responsive">
				<table id="analyze-table" class="table table-striped jambo_table">
					<thead>
						<tr class="headings">
							<th class="column-title">Root Alias</th>
							<th class="column-title">Root</th>
							<th class="column-title">Meaning</th>
							<th class="column-title">Description</th>
							<th class="column-title">Verified</th>
						</tr>
					</thead>
					<tbody id="analyze-table-data">
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<script id="analyze-result-table-template"
		type="text/x-handlebars-template">
		<tr class="even pointer">
			<td class=" ">{{aliasString}}</td>
			<td class=" ">{{rootString}}</td>
			<td class=" ">{{#collonAppender
				rootMeanings}}{{this}}{{/collonAppender}}</td>
			<td class=" ">{{description}}</td>
			<td class=" ">{{#if verified}} <i class="fa fa-check fa-2x centered" style="color:#4ef442;"></i>
				{{else}}<button class="btn btn-info">Verify!</button></td></i> {{/if}}
			</td>
		</tr>
    </script>
</div>


